<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">

<head>
    <meta charset="utf-8"/>
    <style>body{background-color:white;}</style>
    <link href="/assets/css/fill.css" rel="stylesheet" />
    <script src="/assets/js/htmlwidgets.js"></script>
    <script src="/assets/js/plotly.js"></script>
    <script src="/assets/js/typedarray.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <link href="/assets/css/crosstalk.min.css" rel="stylesheet" />
    <script src="/assets/js/crosstalk.js"></script>
    <link href="/assets/css/plotly-htmlwidgets.css" rel="stylesheet" />
    <script src="/assets/js/plotly-latest.min.js"></script>
    <title>plotly</title>
</head>

<body>

<div id="htmlwidget_container">
    <div class="plotly html-widget html-fill-item" id="htmlwidget-d69eec2ae1b87b46aa51" style="width:100%;height:400px;"></div>
</div>
{{ content }}

</body>
</html>
